{% extends 'main/index.html' %}
{% load crispy_forms_tags %}
{% block main %}

<div style="width: 50%; float: left;"><h2 class="text-left">Управление заказами</h2></div>
    {% if user_group == "Заказчик" %}
<div style="width: 50%; float: left; text-align: right;"><a href="#win1"><button class="btn btn-outline-info">+ Добавить заказ</button></a></div>
    {% endif %}
<a href="#x" class="overlay" id="win1"></a>
<div class="popup">
	<h3>Создание заказа</h3><hr>
	{% if messages %}
		{% for mess in messages %}
			{% if mess.tags == "success" %}
	        <div class="alert alert-success" style="width:100%; float:left;">
	          {{ mess }}
	        </div>
	        {% else %}
	        <div class="alert alert-danger" style="width:100%; float:left;">
	          {{ mess }}
	        </div>
	        {% endif %}
		{% endfor %}
	{% endif %}
	<form action="" method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<div style="width: 100%;">
				<a href="#close"><input type="submit" value="Создать" name="save" class="btn btn-outline-dark mt-2" style="float: right;"></a>
			</div>
		</form>
<a class="close"title="Закрыть" href="#close"></a>
</div>
<form action="" method="POST">
	{% csrf_token %}
	<table class="table table-bordered table-dark">
			<tr class="osn">
            <td>Информация</td>
            <td>Автор</td>
            <td>Дата отправки</td>
            <td>Ожидаемая дата</td>
            <td>Статус</td>
            <td>id</td>
                <td>Действия</td>
        </tr>
		{% for task in orders %}
    {% if user_group == "Модератор" or user_login == task.author or user_group == "Организация"%}
			<tr><td>{{ task.info }}</td>
                    <td>{{ task.author }}</td>
                    <td>{{ task.sending }}</td>
                    <td>{{ task.expecting }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.id }}</td>
                <td>
                {% if user_group == "Организация" %}
                    {% if task.status == "На обработке" or task.status == "Заказ выполнен"%}

                    {% else %}
                    <button class="btn btn-outline-dark mr-2 mb-1" type="submit" name="accept" value={{task.id}}>Взять заказ</button>
                    {% endif %}
                    {% endif %}
                {% if user_group == "Модератор" or user_login == task.author %}
                        <button class="btn btn-outline-danger mb-1" type="submit" name="delete" value="{{task.id}}">X</button>
                    {% endif %}

    {% endif %}
                </td>
            </tr>
		{% endfor %}
	</table>
</form>
{% endblock %}